<h1> Welcome to Programmer Connect </h1>
<br>
<br>
<br>
<h2> Our mission is to connect programmers to non-profits. </h2>

<h3> We believe there is many non-profits that could use the help of programmers, <br> 
and that there is many programmers willing to use their skills to help good causes. </h3>
<br>
<br>

<%= link_to "Create Account", signup_path %>
<br>
<br>
<%= link_to "Sign In to your account", login_path %>
