// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Style the header */
h1{
    font-size:30px;
    font-weight: bold;
    font-family: Helvetica;
    color: 	orangered;
    text-decoration: underline;
    text-transform: uppercase;
}